@using WebApplicationShared.Components.Pages
@using WebApplicationShared.Model

@inherits LoginPage
@page "/"

@using WebApplicationShared.Locales
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Authentication

@using System.Security.Claims
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop

@using System.Net.Http.Headers
@using System.Net.Http.Json

@using WebApplicationShared.Components.Shared
@using WebApplicationShared.Helpers

@inject IStringLocalizer<Resource> localizer
@rendermode InteractiveServer

<CascadingAuthenticationState>
    <AuthorizeView Context="AuthenticationContext">
        <NotAuthorized>
            <div class="main-container--notauthorized">
                <div class="forms__container">
                    <div class="form__wrapper form__wrapper-sign-in @(IsSignUpHidden ? "show-form" : "hide-form") @(IsSignUpHidden ? "right-position" : "left-position")">
                        <EditForm Model="@User"
                                  OnSubmit="Authenticate"
                                  FormName="SignInForm"
                                  class="form">
                            <WebApplicationShared.Components.LoginParts.FormAuthentication User="User" />
                        </EditForm>
                    </div>

                    <div class="form__wrapper form__wrapper-sign-up @(IsSignUpHidden ? "hide-form" : "show-form") @(IsSignUpHidden ? "right-position" : "left-position")">
                        <EditForm Model="@Register" OnSubmit="Registration" FormName="SignUpForm" class="form">
                            <WebApplicationShared.Components.LoginParts.FormRegistration Register="Register" />
                        </EditForm>
                    </div>

                    <WebApplicationShared.Components.LoginParts.FormImg IsSignUpHidden="IsSignUpHidden" ChangeHiding="ChangeHiding"/>
                </div>
            </div>
        </NotAuthorized>
        <Authorized>
            <WebApplicationShared.Components.LoginParts.Home UserInfo="UserInfo"/>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>

<div class="error__container" style="@(IsErrorVisible ? "display:block;" : "display:none;")">
    <h3 class="error__container-title">@ErrorMessage</h3>
</div>